@import "variables";
.header {
  background-color: white;
  border-bottom: 1px solid $gray-line;
  padding: 10px 0;
  margin-bottom: 10px;

  &__title {
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
    }
  }
  span {
    font-size: 14px;
    font-weight: 700;
  }
}
